body{
    background:white;
    font-family:futura;
}


.center {
    text-align: center;

    margin-top:18%;
}

button {
    font-family:futura;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;

    text-decoration: none;
    font-size:40px;

    padding: 20px 50px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

button:hover{
    color: white;
}

#quiz{
    margin-top:10%;
    margin-bottom: 10%;
    margin-left:10%;
    
}

.quizScore{
    text-align: center;
    color:black;
}

.submitter{
    margin-top: 20%;
    text-align: center;
}

.quizSubmit{

    text-decoration: none;
    font-size:30px;

    padding: 10px 30px;
    display: inline-block;
    cursor: pointer;
    font-family: futura;
}

.quizSubmit:hover{
    color: white;
}

.column1{
    float:left;
    width:50%;
}

.column2{
    position: fixed;
    margin-left:50%;
    float:right;
    width:40%;
}

.row:after{
    content: "";
  display: table;
  clear: both;
}

.timer{
    margin-top:10%;
    text-align: center;
    font-size:30px;
}

#timer{
    color:darkgray;
    font-size:80px; 
}

sup {
    vertical-align: super;
    font-size: smaller;
}

@media screen and (max-width:800px){
    .timer{
        font-size:20px;
    }
    #timer{
        font-size:60px;
    }
    .quizSubmit{
        font-size:20px;
    }
    .quizpic{
        width:200px;
    }
}