*{
    margin:0;
    padding:0;
}

body{
    font-family: futura;
}
.banner-text{
    width:100%;
    position:absolute;
}

.banner-text h1{
    font-size: 60px;
    text-align: center;
    margin-top: 15%;
    color:white;
}

.a,.b,.c {
    color: #494949;
    text-transform: uppercase;
    margin-top: 30px;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #ffffff !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}
.a:hover {
    color: #ffffff !important;
    background: #f64d3b;
    border-color: #f64d3b !important;
    transition: all 0.4s ease 0s;
}

.b:hover {
    color: #ffffff !important;
    background: #3dbe7a;
    border-color: #3dbe7a !important;
    transition: all 0.4s ease 0s;
}

.c:hover {
    color: #ffffff !important;
    background: #3b81f6;
    border-color: #3b81f6 !important;
    transition: all 0.4s ease 0s;
}

.animated-area{
     background: linear-gradient(to top, #f46b45, #eea849);
     width:100%;
     height:100vh;
 }

#topnav{
    overflow:hidden;
    text-align:center;
    font-size:17px; 
    height:50px;
    top:0;
    position:fixed;
    width:100%;
    display:block;
    transition:top 0.5s;
    z-index:9999;
}

.previous,.next {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    transition: 0.3s;
    font-size:30px;
    width:100px;
    margin-top:50px;
    margin-bottom:50px;
    text-align: center;
}

.previous{
    float:left;
    margin-left:20%;
}

.next{
    float:right;
    margin-right:20%;
}

@media screen and (max-width:600px){
    .pn-word{
        display:none;
    }
    .previous,.next{
        width:40px;
    }
}


/*adole*/
.tutoname{
        text-align: center;
        padding-top: 100px;
        
    }
.tutoimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border:2px solid ;
}
.border{
    border-radius: 25px;
    border-style: solid;
    background: #73DEFF;
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.t2p1{
    margin-left:10%;
    margin-right:10%;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 25px;
}

.title-children{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    font-size: 30px;
}

.lan {
    font-size: 20px;
    position: relative;
    margin-top: 50px;
    text-align: center;
}

.speech-bubble1 {
	position: relative;
    display: inline-block;
    padding:30px;
    top: 30px;
	background: #f64d3b;
	border-radius: .4em;
    max-width: 60%;
}

.speech-bubble1:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #f64d3b;
	border-top: 0;
	border-left: 0;
	margin-left: -10px;
	margin-top: -20px;
}

.conan {
    text-align: center;
    font-size: 20px;
    position: relative;
    padding-top: 60px;
    float: clear;
    clear: both;
}

.speech-bubble2 {
	position: relative;
    display: inline-block;
    text-align: center;
    padding:30px;
    top: 30px;
	background: #00aabb;
	border-radius: .4em;
    max-width: 60%;
}

.speech-bubble2:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #00aabb;
	border-top: 0;
	border-left: 0;
	margin-left: -10px;
	margin-top: -20px;
}


.chart {
    text-align: center;
margin-top: 30px;
}

.summary {
    margin-left: 20%;
    margin-right: 20%;
}

